.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 20px;

  .logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      width: 50px;
    }

    p {
      font-weight: bold;
    }
  }

  nav {
    ul {
      display: flex;

      a,
      li {
        color: black;
        padding: 10px;
        margin: 10px 20px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
