.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 20px;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 10px;
      width: 50px;
    }

    p {
      font-weight: bold;
    }
  }

  nav {
    .navbar {
      display: flex;

      li {
        color: black;
        padding: 10px;
        margin: 15px 20px;
        font-size: 18px;
        cursor: pointer;
      }

      a {
        color: black;
        padding: 15px 20px;
        margin: 10px 10px;
        font-size: 18px;
        cursor: pointer;

        &:last-child {
          border-radius: 25px;
          color: white;
          background-color: black;
          border: 2px solid black;
        }
      }
    }
  }
}
