.listingCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  margin-top: 50px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

  img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
  }

  .titleAndSubtitle {
    padding: 0px 10px 0px 10px;
  }

  .listingText {
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.address {
  color: #353434;
  opacity: 0.9;
  margin: 5px 0 20px 0;
}

.assets {
  display: flex;
  justify-content: space-between;
}

.maxDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  img {
    width: 30px;
    margin-right: 5px;
  }
}
