.searchInput {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px 55px 20px 20px;
  border-radius: 12px;
  font-size: 18px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
