.googleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 25px;

  img {
    width: 25px !important;
    height: 25px;
    margin-right: 5px;
    opacity: 0.8;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  p {
    font-weight: bold;
    color: grey;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover {
    cursor: pointer;
    img {
      opacity: 1;
    }

    p {
      color: black;
    }
  }
}
