.modalContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background: rgba(8, 9, 14, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 50;

  .modal {
    position: relative;
    display: flex;
    background-color: white;
    width: 1000px;
    height: 500px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    animation: slide-and-fade-up 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;

    .loginContainer {
      width: 60%;
      border-left: 2px solid #d1d1d1;
      padding: 100px 20px 20px 20px;

      h1 {
        text-align: center;
      }
    }

    .otherContainer {
      width: 40%;
      padding: 100px 20px 20px 20px;
    }

    .closeButton {
      position: absolute;
      top: 15px;
      right: 25px;
      width: 40px;

      &:hover {
        cursor: pointer;
      }
    }

    h1 {
      margin-bottom: 10px;
    }

    img {
      width: 35%;
    }
  }
}

@keyframes slide-and-fade-up {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
